a, a:hover{
    color: white;
}

.container {
    width: 50vw;
    align-items: center;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus {
    border: none;
}
.navbar-toggler:active{
    border: none;
}

.header {
    margin-bottom: 5rem;
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('img/team.jpg');
}

nav.navbar{
    padding: 0 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 5rem;
}

.onderzoek {
    height: 50vh;
    margin: 3rem 0 3rem 0;
}

.ontwerpproces {
    height: 50vh;
    margin: 3rem 0 3rem 0;
}

.concepten {
    height: 60vh;
    margin: 3rem 0 3rem 0;
}

.vervolgstappen {
    height: 40vh;
    margin: 3rem 0 3rem 0;
}

.btn {
    color: white;
    background-color: #00811f;
}

.img-onderzoek {
    border-radius: 2%;
}

.footer {
    background-color: #00811f;
}

.bi-github::before,
.bi-youtube::before,
.bi-facebook::before {
    font-size: 42px;
    margin: 10px
}