.container {
    width: 50vw;
    margin-bottom: 5rem;
}

.onderzoek {
    height: 50vh;
    margin: 3rem 0 3rem 0;
}

.ontwerpproces {
    height: 50vh;
    margin: 3rem 0 3rem 0;
}

.concepten {
    height: 60vh;
    margin: 3rem 0 3rem 0;
}

.vervolgstappen {
    height: 40vh;
    margin: 3rem 0 3rem 0;
}

.btn {
    color: white;
    background-color: #00811f;
}

.img-onderzoek {
    border-radius: 2%;
}